<div class="h-full w-full bg-white">
  <nav>
    <ul class="flex flex-row items-center justify-between w-full h-14 bg-lime-400">
      <li class="p-2 ml-2">
        <a routerLink="/" routerLinkActive="active">
          <h1 class="text-md font-bold">
            {{ title | titlecase }}
          </h1>
        </a>
      </li>
      <li class="p-2 mr-2 hover:underline">
        <a routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
    </ul>
  </nav>
  <div class="h-full w-full flex items-center justify-center">
    <router-outlet></router-outlet>
  </div>
</div>
