<div class="bg-white flex flex-col items-center justify-center">
  <h1>
    selected number: {{ store.select('selectedNumber')() }} <br />
    target:
    <pre>{{ store.select('target')() | json }}</pre>
    grid 0;0:
    <pre>{{ store.select('grid')()[0][0] | json }}</pre>
  </h1>
  <div class="flex flex-col justify-center items-center">
    @for (row of this.store.select('grid')(); track $index) {
      <div class="flex">
        <div
          class="flex items-center justify-center w-{{ CELL_SIZE }} h-{{ CELL_SIZE }} text-black">
          {{ $index + 1 }}
        </div>
        <div class="flex items-center justify-center w-0 border-r-4 border-black"></div>
        <div
          class="flex flex-row {{ $index === 0 ? 'border-t-4' : '' }} {{
            $index % 3 === 2 ? 'border-b-4' : 'border-b'
          }} border-black">
          @for (cell of row; track $index) {
            <app-cell [index]="$index" [row]="cell.row" [col]="cell.col"></app-cell>
          }
        </div>
      </div>
    }
  </div>
  <div class="flex flex-row items-center justify-center ml-{{ CELL_SIZE }} h-{{ CELL_SIZE }}">
    @for (row of rows; track $index) {
      <div class="flex flex-row items-center justify-center w-{{ CELL_SIZE }} h-{{ CELL_SIZE }}">
        <div
          class="flex items-center justify-center w-{{ CELL_SIZE }} h-{{
            CELL_SIZE
          }} rounded-full textblack">
          {{ $index + 1 }}
        </div>
      </div>
    }
  </div>
</div>
